* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marcellus', 'Noto Serif SC', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background: #1a2020;
	color: #e6e6e6;
}

/* 大标题、小标题 */
h1 {
	background-color: #e8f7c9;
	margin: 10px;
	margin-top: 20px;
	box-shadow: 0 4px 20px rgba(232, 247, 201, 0.2);
	border-radius: 15px;
	color: #1a2020;
	font-family: 'Georgia','Noto Serif SC';
	font-weight: bold;
	padding: 0px 0px 4px 10px;
}

h2 {
	border-bottom: 1px solid #6a7070;
	line-height: 1.5em;
	margin: 0.7em 10px 0.1em 10px;
	color: #f3ae75;
}

h3 {
	border: 1px dashed #6a7070;
	border-radius: 10px;
	line-height: 1.5em;
	margin: 0.7em 10px 0.1em 10px;
	padding: 2px 10px 1px 10px;
	color: #e6e6e6;
}

a {
	color: #e8f7c9;
	text-decoration: underline solid; /* 默认所有链接为实线下划线 */
}

a:hover {
	color:#aaddbb;
    text-shadow: 0 0 12px rgba(170, 221, 187, 0.9); 
}

/* 文章字体、段落间距 */
p {
	line-height: 1.5em;
	margin: 10px 10px 10px 10px;
	font-size: 16px;
}

/* 侧边固定导航栏 */
.pisces {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #2c3131;
    position: fixed;
    height: 100%;
    overflow: auto;
	font-weight: bold;
}

.pisces img {
	width: 100%;
	margin: 0;
}

.pisces li a {
    display: block;
    color: #e6e6e6;
    padding: 8px 16px;
    text-decoration: none;
}

.pisces li a.active {
    background-color: #e8f7c9;
    color: #1a2020;
}

.pisces a:hover:not(.active) {
    background-color: #4a5050;
    color: #e6e6e6;
}

/* 正文 */
div {
	margin-left:15%;
	padding:1px 16px;
}

.saying {
	padding:1px 16px;
	font-family: 'Marcellus','Noto Serif SC';
	font-size: 30px;
	line-height: 0.9em;
	color: #f3ae75;
}

/* 维基站点导览-行内元素样式 */
.wiki-list {
	display: inline-block;
	background-color: #1a2020; 
	border: 1px dashed #e8f7c966;
	border-radius: 5px;
	margin-top: -15px;
	padding: 5px 15px 5px 15px;
	font-weight: bold;
	transition: all 0.3s ease;
	cursor: pointer;
	position: relative;
	box-shadow: 0 4px 20px rgba(232, 247, 201, 0.1);
}

.wiki-list:hover {
	transform: translateY(-5px);
	background-color: #2c3131;
}

.wiki-list a {
	color: #e8f7c9;
	display: block;
	text-decoration: none;
	z-index: 1; /* 确保链接位于伪元素上层 */
}

.wiki-list a:hover {
	color: #e8f7c9 !important;
}

@media (max-width: 768px) {
    .wiki-list {
        flex-direction: column;
    }
}

/* 修复点击区域 */
.nb-column li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
